body {
    font-family: sans-serif;
    border: solid 4px #bb4444;
    margin: 0px;
}

.fsio {
    border: solid 4px #9900ff;
    margin-left: 80px;
    margin-right: 80px;
}

.menu {
    border: solid 3px #008800;
    margin-top: 20px;
    padding: 10px;
}

.content {
    border: solid 3px #00ddff;
    width: 50%;
}

.send {
    display: block;
    width: 50%;
    margin: -320px 10px 10px 0px;
    padding: 10px;
    box-shadow: 0px 0px 40px 0px #ddf;
    float: right;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

h1 {
    font-size: 64px;
    color: 1f3f68;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 26px;
    line-height: 30px;
    color: #1f3f68;
}

input, textarea {
    display: block;
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

input [type='submit'] {
    background: #5098d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
